html{
    background-color: lightpink;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 25px;
}

/*ESTILOS INDEX*/ 

.bodyIndex{
    background-color: rgb(255, 255, 255);
}

#carouselExampleCaptions{
    padding: auto;
    left: 600px;
}

.imgIndex{
    height: 400px;
    width: 410px;
    border-radius: 0px;
    position: relative;
    left: 700px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightslategray;
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#tituloPrincipalIndex{
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(240, 240, 240) 0%, rgb(241, 241, 241) 47%, rgba(148,187,233,1) 100%);
    padding: 552;
    border-radius: 0px;
    background-color: lightsalmon;
    width: 1852px;
    height: 150px;
    text-align: center;
    font-size: 100px;
}

.tituloPrincipalIndex{
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(240, 240, 240) 0%, rgb(241, 241, 241) 47%, rgba(148,187,233,1) 100%);
    border-radius: 0px;
    background-color: lightsalmon;
    width: 1852px;
    height: 100px;
    text-align: center;
    font-size: 60px; 
    
}

.tituloInfo{
    background-color: azure;
    left: 950px;
    border-radius: 50px;
    margin-left: 500px;
}

#carouselExampleFade{
    left: 349px;
}

.medicIn{
    margin-right: 1100px;
    max-width: 150px;
    border-radius: 100px;
    position: relative;
}

.divMayor{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 10px;
    justify-content: center;
    justify-items:center;
    align-items: center;
}

.divI{
    background-color: rgb(105, 105, 105);
    color: aliceblue;
    border-radius: 50px;
    font-size: x-large;
    text-align: center;
}

.imgNewen{
    width: 300px;
    height: 300px;
    border-radius: 300px;
}

.footerIn{
    background-color: lightyellow;
    border-radius: 50px;
    text-align: center;
}


/* ESTILOS INFORMACION */

    .bodyInformacion {
    margin: 40px;
    }
    
    .wrapper {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fill, 250px );
        background-color: #fff;
        color: lightblue;
    }

    .box {
        background-color: lightblue;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
    }

    .a{
        grid-column: 1 / 3;
        height: 200px;
        width: 500px;
    }

    .b{
        grid-column: 3 / 5 ;
        width: 500px;
        height: 200px;
    }

    .c{
        grid-column: 1 / 2 ;
        grid-row: 2 ;
        height: 200px;
        width: 500px;
    }

    .d{
        grid-column: 2 / 5 ;
        grid-row: 2 ;
        height: 200px;
        width: 100px;
    }

    .e{
        grid-column: 1 / 5;
        grid-row: 3;
        height: 200px;
        width: 500px;
    }



/* ESTILOS 多QUIENES SOMOS?*/ 

.footerQ{
    background-color: lightyellow;
    border-radius: 50px;
    text-align: center;
}

.main{
    display: flex;
    flex-direction: column;
}

.tituloSecundario{
    background-color: lightslategrey;
    border-radius: 50px;
    width: 200px;
    padding: 20px;
}

.listado{
    display: grid;;
}
.imga{
    max-width: 350px;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 225px;
}

/*ESTILOS UBICACION*/
.iframegit{
    width: 600px;
    height: 600px;
    left: 620px;
    position: relative;
}

.menuUbi{
    max-width: 300;
}

.sectionUbi:hover{
    background-color: lightslategrey;
    height: 500px;
    width: 500px;
    transition: 2s;
    margin-right: 100px;
    padding: 75px;
}

.tituloSecundarioU{
    background-color: lightslategrey;
    border-radius: 50px;
    width: 350px;
    padding: 20px;
}

.prestacionesU{
    text-align: center;
}

.medicU{
    margin-right: 1100px;
    max-width: 150px;
    border-radius: 100px;
    position: relative;
}

.footerU{
    background-color: lightyellow;
    border-radius: 50px;
    text-align: center;
}

.img-fluid{
    height: 200px;
    width: 200px;
    padding: 20px;
    position: relative;
    left: 520px;
}



/*ESTILOS NOSOTROS*/

.bodyHistoria{
    display: flex;
    flex-direction: column;
    padding: 70px;
    background-color: lightcyan;
}

.tituloHistoria{
    background-color: lightslategray;
}

.intro{
    text-align: center;
    background-color: transparent;
}

.intro:hover{
    transition: 2s;
    background-color: rgb(83, 83, 83);
}

.listaPrestaciones{
    text-align: center;
    border-radius: 10px;
    background-color: transparent;
}

.listaPrestaciones:hover{
    transition: 2s;
    background-color: rgb(83, 83, 83);
}

.ingreso{
    background-color: transparent;
    text-align: center;
    border-radius: 20px;
}

.ingreso:hover{
    transition: 2s;
    background-color: rgb(83, 83, 83);
}

.egreso{
    background-color: transparent;
    text-align: center;
    border-radius: 20px;
    grid-area: definicionb;  
}

.egreso:hover{
    transition: 2s;
    background-color: rgb(83, 83, 83);
}

.objetivosGenerales{
    background-color: transparent;
    text-align: center;
    border-radius: 20px;
}

.objetivosGenerales:hover{
    transition: 2s;
    background-color: rgb(83, 83, 83);
}

.objetivosEspecificos{
    background-color: transparent;
    text-align: center;
    border-radius: 20px;
}

.objetivosEspecificos:hover{
    transition: 2s;
    background-color: rgb(83, 83, 83);
}

.medicN{
    margin-right: 1100px;
    max-width: 150px;
    border-radius: 100px;
    position: relative;
}

.footerN{
    background-color: lightyellow;
    border-radius: 50px;
    text-align: center;
}



/* ESTILOS FORMULARIO */

    .form{ 
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form input {
        width: 90%;
        height: 30px;
        margin: 0.5rem;
    }

    .form button {
        padding: 0.5em 1em;
        border: none;
        background: rgb(100, 200, 255);
        cursor: pointer;
    }
    
    .footerT{
        background-color: lightyellow;
        border-radius: 50px;
        text-align: center;
    }



    /*ESTILOS CONTACTO*/

.medios{
    background-color: transparent;
    color: black;
    display: flex ;
    flex-direction: column;
    width: 150px;
}

.medios:hover{
    background-color: lightslategrey;
    height: 500px;
    width: 500px;
    transition: 2s;
    margin-right: 100px;
    padding: 75px;
}

.medioTit{
    padding: 20px;
    color: black;
    background-color: lightgray;
    border-radius: 50px;
    width: 250px;
}

.classContacto{
    background-color: transparent;
    width: 210px;
}

.medicC{
    margin-right: 1100px;
    max-width: 150px;
    border-radius: 100px;
    position: relative;
}

.footerC{
    background-color: lightyellow;
    border-radius: 50px;
    text-align: center;
}


/* ESTILOS REDES */

.cardIm{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: center;
}


.card-body{
    width: 750px;
}

.card{
    display: flex ;
    flex-direction: row;
}


.footerI{
    background-color: lightyellow;
    border-radius: 50px;
    text-align: center;
}

/*HREF DE TODOS LOS INDEX*/

.href{
    background-color: lightseagreen;
    border-radius: 50px;
    text-decoration: none;
    color: black;
}






    /* MEDIA QUERIES */

    @media screen and (max-width: 480px) {

        /* INDEX */
        
            html{
                background-color:azure;
                background-image: none
            }
        
            .nav{
                max-width: 360px;
            }

            .imgIndex{
                height: 300px;
                width: 300px;
                border-radius: 900px;
                position: relative;
                left: 38px;
            }

            .tituloPrincipalIndex{
                background: rgb(238,174,202);
                background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(224,176,207,1) 47%, rgba(148,187,233,1) 100%);
                padding: 552;
                border-radius: 0px;
                background-color: lightsalmon;
                width: 4363px;
                height: 100px;
                text-align: center;
                font-size: 60px;
                border-radius: 500px;
                position: relative;
                left: 0px;
            }

            #tituloPrincipalIndex{
                text-align: center;
                width: 378px;
                font-size: 40px;
                height: 55px;
            }
            
            .carousel-inner{
                left: 0px;
            }

            .divI{
                position: absolute;
                width: 250px;
                color: aliceblue;
                border-radius: 50px;
                font-size: x-large;
                text-align: center;
                max-width: 350px;
                top: 90px;
                left: 31px;
            }
        
            .imgNewen{
                max-width: 0px;
                min-width: 0px;
            }
        
            .medicIn{
                position: absolute;
                height: 40px;
                width: 40px;
                left: 320px;
                top: 650px;
                border-radius: 50px;
            }
        
            .footerIn{
                position: absolute;
                background-color: lightgoldenrodyellow;
                text-align: center;
                top: 750px;
                left: 55px;
            }
        
        
        
        /* 多QUIENES SOMOS? */
        
            #tituloPrincipal{
                width: 378px;
                text-align: center;
            }

            .imga{
                left: 6px;
            }

            .medicQ{
                position: absolute;
                height: 40px;
                width: 40px;
                left: 320px;
                top: 650px;
                border-radius: 50px;
            }
        
            .footerQ{
                background-color: lightgoldenrodyellow;
                text-align: center;
            }
        
        /* TURNOS */
        
            .medicT{
                position: absolute;
                height: 40px;
                width: 40px;
                left: 320px;
                top: 820px;
                border-radius: 50px;
            }
        
            .footerT{
                background-color: lightgoldenrodyellow;
                text-align: center;
            }
        
        /* NOSOTROS */
        
            .medicN{
                position: absolute;
                height: 40px;
                width: 40px;
                left: 320px;
                top: 2060px;
                border-radius: 50px;
            }
            
            .bodyHistoria{
                display: flex;
                flex-direction: column;
                padding: 10px;
                background-color: lightcyan;
            }

            .footerN{
                background-color: lightgoldenrodyellow;
                text-align: center;
            }
        
        /* UBICACION */
        
            .medicU{
                position: absolute;
                height: 30px;
                width: 40px;
                left: 320px;
                top: 430px;
                border-radius: 50px;
            }
        
            .iframegit{
                width: 350px;
                height: 350px;
                left: 10px;
                position: relative;
            }

            .footerU{
                background-color: lightgoldenrodyellow;
                text-align: center;
            }
        
            .tituloIframe{
                font-size:x-small;
            }

            .sectionUbi:hover{
                background-color: lightslategrey;
                height: 500px;
                width: 350px;
                transition: 2s;
                margin-right: 100px;
                padding: 75px;
            }

            .img-fluid{
                height: 200px;
                width: 200px;
                padding: 20px;
                position: relative;
                left: 85px;
            }

        /* REDES */

        .cardIm{
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: left;
            text-align: left;
            padding: 20px;
        }
        
        
        .card-body{
            width: 400px;
        }
        
        .card{
            display: flex ;
            flex-direction: column;
        }

        /* CONTACTO */
        
            .medicC{
                position: absolute;
                height: 40px;
                width: 40px;
                left: 320px;
                top: 280px;
                border-radius: 50px;
            }
        
            .footerC{
                background-color: lightgoldenrodyellow;
                text-align: center;
            }
        
            .medios:hover{
                background-color: lightslategrey;
                height: 500px;
                width: 350px;
                transition: 2s;
                margin-right: 100px;
                padding: 75px;
            }

        }
        /* INFORMACION */
        
        /* INSTITUCION */
        
        .bodyInformacion {
            margin: 40px;
            }
            
            .wrapper {
                display: grid;
                grid-gap: 30px;
                grid-template-columns: repeat(auto-fill, 250px );
                background-color: #fff;
                color: lightblue;
            }
        
            .box {
                background-color: lightblue;
                color: #fff;
                border-radius: 5px;
                padding: 20px;
                font-size: 150%;
            }
        
            .a{
                grid-column: 1 / 3;
                height: 200px;
                width: 300px;
            }
        
            .c{
                grid-column: 1 / 2 ;
                grid-row: 2 ;
                height: 200px;
                width: 300px;
            }
        
            .e{
                grid-column: 1 / 5;
                grid-row: 3;
                height: 200px;
                width: 300px;
            }

            .footerInfo{
                top: 2000px;
                background-color: lemonchiffon;
                text-align: center;
                border-radius: 50px;
            }

        
            @media screen and (min-width: 481px) and (max-width: 768px){
        
            /* INDEX */
        
            #tituloPrincipalIndex{
                text-align: center;
                width: 768px;
                font-size: 60px;
                height: 87px;
            }

            .tituloPrincipalIndex{
                text-align: center;
                width: 768px;
                font-size: 60px;
                height: 87px;
                position: relative;
                left: 0px;
            }

            .footerIn{
                background-color: lightyellow;
                border-radius: 60px;
                text-align: center;
                position: absolute;
                left: 250px;
                max-width: 450px;
                max-height: 200px;
                top: 800px;
            }
        
            .carousel-inner{
                left: 85px;
            }

        /* 多QUIENES SOMOS? */
        
        .imga{
            left: 105px;
        }

            .footerQ{
                background-color: lightyellow;
                border-radius: 60px;
                text-align: center;
            }
            
            /* 多QUIENES SOMOS? */
            .footerQ{
                background-color: lightyellow;
                border-radius: 60px;
                text-align: center;
                position: absolute;
                left: 250px;
                max-width: 450px;
                max-height: 200px;
                top: 1200px;
            }
        
        /* TURNOS */
        
            .medicT{
                position: absolute;
                height: 200px;
                width: 200px;
                left: 20px;
                top: 790px;
                border-radius: 100px;
            }
        
            .footerT{
                background-color: lightyellow;
                border-radius: 60px;
                text-align: center;
                position: absolute;
                left: 250px;
                max-width: 450px;
                max-height: 200px;
                top: 970px;
            }
        
        /* UBICACION */
        
            .medicU{
                position: absolute;
                height: 200px;
                width: 200px;
                left: 20px;
                top: 390px;
                border-radius: 100px;
            }
        
            .iframegit{
                width: 600px;
                height: 600px;
                left: 86px;
                position: relative;
            }

            .footerU{
                background-color: lightyellow;
                border-radius: 60px;
                text-align: center;
                position: absolute;
                left: 250px;
                max-width: 450px;
                max-height: 200px;
                top: 810px;
            }

            
            .sectionUbi:hover{
                background-color: lightslategrey;
                height: 550px;
                width: 400px;
                transition: 2s;
                margin-right: 100px;
                padding: 75px;
            }
            
            .img-fluid{
                height: 200px;
                width: 200px;
                padding: 20px;
                position: relative;
                left: 280px;
            }

        /* NOSOTROS */
        
        .bodyHistoria{
            display: flex;
            flex-direction: column;
            padding: 50px;
            background-color: lightcyan;
        }
        
            .footerN{
                background-color: lightyellow;
                border-radius: 60px;
                text-align: center;
                position: absolute;
                left: 250px;
                max-width: 450px;
                max-height: 200px;
                top: 1570px;
            }
        
        /* CONTACTO */
        
            .medicC{
                position: absolute;
                height: 200px;
                width: 200px;
                left: 20px;
                top: 290px;
                border-radius: 100px;
            }
        
            .footerC{
                background-color: lightyellow;
                border-radius: 60px;
                text-align: center;
                position: absolute;
                left: 250px;
                max-width: 450px;
                max-height: 200px;
                top: 500px;
            }
        }